# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea
build.sbt
.vscode/settings.json
project/target/config-classes/$209eef87d9188b37cccb.cache
project/target/config-classes/$a799133485f0d809b3a9.cache
project/target/config-classes/$aa650af236ac22409fa0.cache
project/target/config-classes/$af4f69734612994b2503.cache
project/target/config-classes/$baec74337e7e84bf8f42.cache
project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/inputs
project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
project/target/streams/_global/_global/_global/streams/out
project/target/streams/_global/csrConfiguration/_global/streams/out
project/target/streams/_global/csrProject/_global/streams/out
project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
project/target/streams/_global/ivyConfiguration/_global/streams/out
project/target/streams/_global/ivySbt/_global/streams/out
project/target/streams/_global/moduleSettings/_global/streams/out
project/target/streams/_global/projectDescriptors/_global/streams/out
project/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
project/target/streams/_global/update/_global/streams/out
project/target/streams/compile/_global/_global/compileOutputs/previous
project/target/streams/compile/_global/_global/discoveredMainClasses/data
project/target/streams/compile/bspReporter/_global/streams/out
project/target/streams/compile/compile/_global/streams/out
project/target/streams/compile/compileIncremental/_global/streams/export
project/target/streams/compile/compileIncremental/_global/streams/out
project/target/streams/compile/copyResources/_global/streams/copy-resources
project/target/streams/compile/copyResources/_global/streams/out
project/target/streams/compile/dependencyClasspath/_global/streams/export
project/target/streams/compile/exportedProducts/_global/streams/export
project/target/streams/compile/externalDependencyClasspath/_global/streams/export
project/target/streams/compile/incOptions/_global/streams/out
project/target/streams/compile/internalDependencyClasspath/_global/streams/export
project/target/streams/compile/internalDependencyClasspath/_global/streams/out
project/target/streams/compile/managedClasspath/_global/streams/export
project/target/streams/compile/scalacOptions/_global/streams/out
project/target/streams/compile/unmanagedClasspath/_global/streams/export
project/target/streams/compile/unmanagedClasspath/_global/streams/out
project/target/streams/compile/unmanagedJars/_global/streams/export
project/target/streams/runtime/dependencyClasspath/_global/streams/export
project/target/streams/runtime/exportedProducts/_global/streams/export
project/target/streams/runtime/externalDependencyClasspath/_global/streams/export
project/target/streams/runtime/fullClasspath/_global/streams/export
project/target/streams/runtime/internalDependencyClasspath/_global/streams/export
project/target/streams/runtime/internalDependencyClasspath/_global/streams/out
project/target/streams/runtime/managedClasspath/_global/streams/export
project/target/streams/runtime/unmanagedClasspath/_global/streams/export
project/target/streams/runtime/unmanagedClasspath/_global/streams/out
project/target/streams/runtime/unmanagedJars/_global/streams/export
target/scala-2.13/update/update_cache_2.13/inputs
target/scala-2.13/update/update_cache_2.13/output
target/streams/_global/_global/_global/streams/out
target/streams/_global/csrConfiguration/_global/streams/out
target/streams/_global/csrProject/_global/streams/out
target/streams/_global/dependencyPositions/_global/streams/update_cache_2.13/input_dsp
target/streams/_global/dependencyPositions/_global/streams/update_cache_2.13/output_dsp
target/streams/_global/ivyConfiguration/_global/streams/out
target/streams/_global/ivySbt/_global/streams/out
target/streams/_global/moduleSettings/_global/streams/out
target/streams/_global/projectDescriptors/_global/streams/out
target/streams/_global/runJava/_global/streams/out
target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
target/streams/_global/testListeners/_global/streams/out
target/streams/_global/update/_global/streams/out
target/streams/compile/_global/_global/compileOutputs/previous
target/streams/compile/_global/_global/discoveredMainClasses/data
target/streams/compile/bspReporter/_global/streams/out
target/streams/compile/compile/_global/streams/out
target/streams/compile/compileIncremental/_global/streams/export
target/streams/compile/compileIncremental/_global/streams/out
target/streams/compile/copyResources/_global/streams/copy-resources
target/streams/compile/copyResources/_global/streams/out
target/streams/compile/dependencyClasspath/_global/streams/export
target/streams/compile/exportedProductJars/_global/streams/export
target/streams/compile/exportedProducts/_global/streams/export
target/streams/compile/externalDependencyClasspath/_global/streams/export
target/streams/compile/incOptions/_global/streams/out
target/streams/compile/internalDependencyClasspath/_global/streams/export
target/streams/compile/internalDependencyClasspath/_global/streams/out
target/streams/compile/mainClass/_global/streams/out
target/streams/compile/managedClasspath/_global/streams/export
target/streams/compile/packageBin/_global/streams/inputs
target/streams/compile/packageBin/_global/streams/out
target/streams/compile/packageBin/_global/streams/output
target/streams/compile/runMain/_global/streams/out
target/streams/compile/scalacOptions/_global/streams/out
target/streams/compile/unmanagedClasspath/_global/streams/export
target/streams/compile/unmanagedClasspath/_global/streams/out
target/streams/compile/unmanagedJars/_global/streams/export
target/streams/runtime/dependencyClasspathAsJars/_global/streams/export
target/streams/runtime/exportedProductJars/_global/streams/export
target/streams/runtime/exportedProducts/_global/streams/export
target/streams/runtime/externalDependencyClasspath/_global/streams/export
target/streams/runtime/fullClasspathAsJars/_global/streams/export
target/streams/runtime/internalDependencyAsJars/_global/streams/export
target/streams/runtime/internalDependencyAsJars/_global/streams/out
target/streams/runtime/managedClasspath/_global/streams/export
target/streams/runtime/unmanagedClasspath/_global/streams/export
target/streams/runtime/unmanagedClasspath/_global/streams/out
target/streams/runtime/unmanagedJars/_global/streams/export
target/streams/test/_global/_global/compileOutputs/previous
target/streams/test/_global/_global/definedTestNames/data
target/streams/test/_global/_global/dependencyClasspathFiles/previous
target/streams/test/_global/_global/discoveredMainClasses/data
target/streams/test/bspReporter/_global/streams/out
target/streams/test/compile/_global/streams/out
target/streams/test/compileIncremental/_global/streams/export
target/streams/test/compileIncremental/_global/streams/out
target/streams/test/copyResources/_global/streams/copy-resources
target/streams/test/copyResources/_global/streams/out
target/streams/test/definedTests/_global/streams/out
target/streams/test/dependencyClasspath/_global/streams/export
target/streams/test/exportedProducts/_global/streams/export
target/streams/test/externalDependencyClasspath/_global/streams/export
target/streams/test/fullClasspath/_global/streams/export
target/streams/test/incOptions/_global/streams/out
target/streams/test/internalDependencyClasspath/_global/streams/export
target/streams/test/internalDependencyClasspath/_global/streams/out
target/streams/test/loadedTestFrameworks/_global/streams/out
target/streams/test/managedClasspath/_global/streams/export
target/streams/test/scalacOptions/_global/streams/out
target/streams/test/test/_global/streams/out
target/streams/test/test/_global/streams/succeeded_tests
target/streams/test/test/isModule=false name=MarkupTest/test/out
target/streams/test/unmanagedClasspath/_global/streams/export
target/streams/test/unmanagedClasspath/_global/streams/out
target/streams/test/unmanagedJars/_global/streams/export
target/test-reports/TEST-MarkupTest.xml
build.sbt
